In [81]:
import pandas as pd
pd.options.display.max_rows = 10

In [82]:
celine = pd.read_csv('celine.csv', index_col = 'Year')

In [83]:
svet = pd.read_csv('svet.csv')

In [84]:
# Naredimo tabelo s kodami in imeni držav
drzave = svet[["Country Code", "Country"]]
# drzave.groupby("Country")
drzave

       Country Code  Country
0                 8  Albania
1                 8  Albania
2                 8  Albania
3                 8  Albania
4                 8  Albania
...             ...      ...
12410           156    China
12411           156    China
12412           156    China
12413           156    China
12414           156    China

[12415 rows x 2 columns]

In [85]:
svet

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,8,Albania,5312,Area harvested,406,Garlic,1964,1964,Ha,NaN,M,Data not available
1,QC,Crops,8,Albania,5312,Area harvested,406,Garlic,1965,1965,Ha,NaN,M,Data not available
2,QC,Crops,8,Albania,5312,Area harvested,406,Garlic,1966,1966,Ha,NaN,M,Data not available
3,QC,Crops,8,Albania,5312,Area harvested,406,Garlic,1967,1967,Ha,NaN,M,Data not available
4,QC,Crops,8,Albania,5312,Area harvested,406,Garlic,1968,1968,Ha,NaN,M,Data not available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12410,QC,Crops,156,China,5510,Production,406,Garlic,2009,2009,tonnes,17967857.0,A,"Aggregate, may include official, semi-official..."
12411,QC,Crops,156,China,5510,Production,406,Garlic,2010,2010,tonnes,18548669.0,A,"Aggregate, may include official, semi-official..."
12412,QC,Crops,156,China,5510,Production,406,Garlic,2011,2011,tonnes,18507634.0,A,"Aggregate, may include official, semi-official..."
12413,QC,Crops,156,China,5510,Production,406,Garlic,2012,2012,tonnes,18491574.0,A,"Aggregate, may include official, semi-official..."
12414,QC,Crops,156,China,5510,Production,406,Garlic,2013,2013,tonnes,19233800.0,A,"Aggregate, may include official, semi-official..."

In [86]:
svet['Country'][200:600];

In [87]:
svet[svet.Value > 10**5]

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
66,QC,Crops,8,Albania,5419,Yield,406,Garlic,2006,2006,Hg/Ha,223283.0,Fc,Calculated data
67,QC,Crops,8,Albania,5419,Yield,406,Garlic,2007,2007,Hg/Ha,200000.0,Fc,Calculated data
203,QC,Crops,12,Algeria,5419,Yield,406,Garlic,2013,2013,Hg/Ha,108768.0,Fc,Calculated data
329,QC,Crops,32,Argentina,5419,Yield,406,Garlic,1999,1999,Hg/Ha,104317.0,Fc,Calculated data
333,QC,Crops,32,Argentina,5419,Yield,406,Garlic,2003,2003,Hg/Ha,100614.0,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12410,QC,Crops,156,China,5510,Production,406,Garlic,2009,2009,tonnes,17967857.0,A,"Aggregate, may include official, semi-official..."
12411,QC,Crops,156,China,5510,Production,406,Garlic,2010,2010,tonnes,18548669.0,A,"Aggregate, may include official, semi-official..."
12412,QC,Crops,156,China,5510,Production,406,Garlic,2011,2011,tonnes,18507634.0,A,"Aggregate, may include official, semi-official..."
12413,QC,Crops,156,China,5510,Production,406,Garlic,2012,2012,tonnes,18491574.0,A,"Aggregate, may include official, semi-official..."
12414,QC,Crops,156,China,5510,Production,406,Garlic,2013,2013,tonnes,19233800.0,A,"Aggregate, may include official, semi-official..."

In [88]:
cesen_po_letih = svet.groupby('Year Code')
cesen_po_letih

In [89]:
cesen_po_letih['Value'].mean()

Year Code
1964     53936.747059
1965     54593.900000
1966     56448.017647
1967     57734.958824
1968     59706.123529
            ...
2009    169329.124579
2010    173233.872054
2011    174155.899666
2012    173416.158940
2013    179531.890728
Name: Value, dtype: float64

In [90]:
svet['desetletje'] = 10 * (svet.Year // 10)

In [91]:
svet;

In [92]:
svet_po_desetletjih = svet.groupby('desetletje')
svet_po_desetletjih

In [93]:
svet_po_desetletjih.size()

desetletje
1960    1242
1970    2106
1980    2208
1990    2725
2000    2934
2010    1200
dtype: int64